/*geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: orange;
    border: none;
}

body{
    background-image: url(../imgs/download.jpg);
    background-size: cover;
}

textarea:focus, input:focus{
    outline: none;
}

a, label{
    font-size: .8rem;
}

a:hover{
    color: aquamarine;
}

/*container-login*/

#login-container{
    background-color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

/*forms*/

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bold;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid orange;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #08558b;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: orange;
    transition: 0.5s;
}

/*redes sociais*/

#social-container, #social-container p{
    margin-bottom: 20px;
}

#social-container i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin: 5px;
    cursor: pointer;
}

.fa-facebook-f{
    background-color: #3b5998;
}

.fa-linkedin{
    background-color: #0077b5;
}

.fa-instagram{
    background-color: #3f729b;
}

/*register*/

#register-container p{
    margin-bottom: 10px;
}